<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Добро пожаловать на сайт, <%= @user.name %></h1>
<p>
  Вы успешно зарегистрировались под именем: <%= @user.login %>.<br>
</p>
<p>
  Чтобы перейти на сайт используйте ссылку: <%= @url %>.
</p>
<p>Спасибо, что присоединились, хорошего дня!!</p>
</body>
</html>