%h1 Добро пожаловать!

%p
  Если вы зашли на эту страницу, значит ваша учетная запись активирована и вы можете внести информацию о добровольцах.
  Для этого нажмите на кнопку "Добровльцы" -> "Добавить" и введите данные каждого добровольца.
%p
  Мы будем вести переписку с Вами через этот сайт. Чтобы написать сообшение нажмите на кнопку "Новые сообщения", наберите
  сообщение и нажмите "Отправить". Также на кнопке "Новые сообщения" в скобках указано количество не прочитанных Вами сообщений.

%p
  В разделе ""Документы" вы можете найти и распечатать письмо для служебных комитетов и инструкции для распорядителей.
