%h1 Информационный портал Великого Новгорода
%h3
  На сайте размещена информация рекламная информация о об услугах, предоставляемых различными кампаниями.
  С помощью этого сайта вы сможете найти интересующую Вас услугу и получить скидку на нее, упоминув сайт при оформлении заявки.
  Также вы можете оформить заявку онлайн и Вам обязательно перезвонят.
%div
  = link_to "Вход", new_user_session_path, class: "btn-lg btn-primary" unless current_user

